#about-hero{
    background-color: lighten($colorSecondary, 3);
}

#who-am-i{
    background-color: $colorSecondary;
}

#journey{
    background-color: lighten($colorSecondary, 3);
}

#values{
    background-color: $colorSecondary;
}

#cta-projet{
    background-color: lighten($colorSecondary, 3);
}